@font-face {
    font-family:"nouveau_ibm";
    src: url("/fonts/nouveau_ibm/Nouveau_IBM.ttf");
}
@font-face {
    font-family:"iosevka";
    src: url('/fonts/iosevka/iosevka-regular.ttf');
}
@font-face {
    font-family:"GlacialIndifference";
    src: url("/fonts/glacial/GlacialIndifference-Regular.otf");
}
@font-face {
    font-family:"connection";
    src: url("/fonts/connection/Connection.otf");
}
@font-face {
    font-family:"Retroscape";
    src: url("/fonts/retroscape/Retroscape.ttf");
}

