html, body {
    box-sizing: border-box;
}
html * {
    font-family: 'Monospace', Courier;
}
body {
    margin: 0px;
    border: none;
}
a {
    text-decoration: none;
    color: #a54;
}
ul {
    list-style-type: ' - ';
}
