html {
    height: 100%;
}
body , #toto-div {
    min-height: 100%;
}

#toto-home .icon {
    margin: 10 60 0 60;
}
#toto-head {
    padding: 0;
    margin: 0;
    align-items: center;
}

#toto-body > * {
    margin: 10px;
}
#toto-nav, #toto-right {
    padding: 10px;
}


#toto-nav pre {
    margin: 0px;
}



#toto-right {
    min-width: 40px;
}
#toto-foot {
    height: 20px;
}
