.flex-h {
    display: flex;
    flex-flow: row;
}
.flex-v {
    display: flex;
    flex-flow: column;
}
.tall {
    min-height: 100vh;
}
.grow {
    flex-grow: 1;
}
.wrap {
    flex-wrap: wrap;
}
.stretch {
    align-items: stretch;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.hide{
    display: none;
}

